<% content_for :title do %>Chelmer<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TEST" data-view="Sonosvolume" data-title="TEST" data-device="anna"></div>
    </li>

     <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="kitchen_temp" data-view="Loxtemp" data-title="Kitchen" data-device="kitchen_temp"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pir_kitchen" data-view="Loxonoffswitch" data-title="Kitchen Lights Stay On" data-device="kitchen_enable_pir"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="pir_lounge" data-view="Loxonoffswitch" data-title="Lounge Lights Stay On" data-device="lounge_enable_pir"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ext_outside_lights" data-view="Loxmomentaryswitch" data-title="Outside Lights On (Timed)" data-device="ext_outside_lights"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="common_all_off" data-view="Loxmomentaryswitch" data-title="All Off" data-device="common_all_off"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="common_downstairs_all_off" data-view="Loxmomentaryswitch" data-title="Downstairs Off" data-device="common_downstairs_all_off"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="common_upstairs_all_off" data-view="Loxmomentaryswitch" data-title="Upstairs Off" data-device="common_upstairs_all_off"></div>
    </li>


    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="away_mode" data-view="Loxonoffswitch" data-title="Away Mode" data-device="away_mode"></div>
    </li>

    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="holiday_mode" data-view="Loxonoffswitch" data-title="Holiday Mode" data-device="holiday_mode"></div>
    </li>
  </ul>
</div>
