<% content_for :title do %>Chelmer<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>


    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sonos_dave" data-view="Sonosplaylist" data-title="Dave's Music" data-device="dave"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sonos_anna" data-view="Sonosplaylist" data-title="Anna's Music" data-device="anna"></div>
    </li>

    

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="kitchen_temp" data-view="Loxtemp" data-title="Kitchen" data-device="kitchen_temp"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="TEST" data-view="Sonosvolume" data-title="TEST" data-device="anna"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pir_kitchen" data-view="Loxonoffswitch" data-title="Kitchen Lights Auto" data-device="kitchen_enable_pir"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="pir_lounge" data-view="Loxonoffswitch" data-title="Lounge Lights Auto" data-device="lounge_enable_pir"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="common_all_off" data-view="Loxmomentaryswitch" data-title="All off" data-device="common_all_off"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="common_upstairs_all_off" data-view="Loxmomentaryswitch" data-title="Upstairs Off" data-device="common_upstairs_all_off"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="common_downstairs_all_off" data-view="Loxmomentaryswitch" data-title="Downstairs off" data-device="common_downstairs_all_off"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="forecast" data-view="Forecast" data-title="Forecast"></div>
    </li>


<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li> -->
  </ul>
</div>
